<div class="container">
  <div class="header">
    <img class="group-profile" src="./assets/icon-groups-16.jpg">
    {{usergroupName}}
  </div>
  <div class="content">

  </div>
  <div class="footer">
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <input type="text" placeholder="Pick one" aria-label="Number" matInput [formControl]="myControl"
          [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let option of options" [value]="option">
            {{option}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form>
  </div>
</div>
